.page-header{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.page-header .top-bar-container{
    width: 80%;
    margin: 2.0rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
}
.page-header .top-bar-container a{
    height: 3.2rem;
    transition: opacity 0.2s;
}
.page-header .top-bar-container a:hover{
    opacity: 0.6;
}
.page-header .top-bar-container > img{
    height: 3.6rem;
}
.page-header .header-content{
    width: 90%;
    margin: 1.2rem auto;
    position: relative;
}
.page-header .header-content strong{
    font: 700 2.6rem Archivo;
    line-height: 4.2rem;
    color: #F7CA49;
}
.page-header .header-content p{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
}
@media (min-width:700px){
    .page-header{
        height: 340px;
    }
    .page-header .top-bar-container{
        max-width: 1100px;
    }
    .page-header .header-content{
        max-width: 740px;
        margin: 0 auto;
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page-header .header-content strong{
        max-width: 350px;
    }
    .page-header .top-bar-container > img{
        height: 6.6rem;
    }
}